body{
    background-image: url(tiled-bg.jpg);
    background-repeat: repeat;
    margin: 0px;
    font-family: 'Comic Sans MS';
    color: rgb(0, 246, 255);
}

a{
    color: #0051FF;
}

.audio-controls{
    position: absolute;
    top:0;
    right:0;
}

.audio-controls h3{
    margin: 0;
}

.centered{
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    align-items: center;
    justify-content: center;
}

.collection-wrapper{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.collection-wrapper p{
    font-size: 18px;
}

.centered h1{
    text-align: center;
}

.centered img{
    width: 90%;
    margin: 0 auto;
}

.centered a{
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
}

.cosplayers td, .updates td{
    border: #000 solid 1px;
}

table td p{
    margin: 20px;
}

.cosplayers{
    margin: 0 auto;
}

.cosplayers td{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

#comments-box{
    width:100%;
}

#comments-box td{
    width: 100%;
}

@media only screen and (max-width: 800px) {
      table td{
          float: left;
          width: 100%;
      }
  }